# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Angular-specific
.angular/cache
.angular/analytics
.angular/browsers
.angular/builders
.angular/cli
.angular/compiler
.angular/core
.angular/devkit
.angular/elements
.angular/forms
.angular/http
.angular/language-service
.angular/material
.angular/platform-browser
.angular/platform-browser-dynamic
.angular/platform-server
.angular/router
.angular/service-worker
.angular/universal

# Other
coverage/
*.log
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db